DEPLOYMENT_URL=https://devsecops-justin.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/Docusaurus-Lern-Tagebuch/
GITHUB_ORG=DevSecOps-Justin
GITHUB_PROJECT=Docusaurus-Lern-Tagebuch
GIT_REPOSITORY_URL=https://github.com/DevSecOps-Justin/Docusaurus-Lern-Tagebuch
